*{
    margin: 0;
    padding:0;
    list-style:none;
    text-decoration: none;
}



#hero {
  width: 100%;
  height: 750px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../assets/mentee.jpg') center/cover no-repeat;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-slide-down {
  0% {
      opacity: 0;
      transform: translateY(-4rem);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text {
  background-color: rgba(2, 50, 70, 0.6);
  padding: 50px;
  border-radius: 10px;
  animation: fade-slide-down 1s ease-in-out;
  margin-bottom:100px ;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-text p {
  font-size: 1.5rem;
  color: #f6f6f6;
  margin-bottom: 40px;
  font-family: serif;
}

.btn a {
  display: inline-block;
  background: #287094;
  padding: 15px 40px;
  border-radius: 50px;
  color: bisque;
  border: none;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn a:hover {
  background: #023246;
  color: black;
}

@media (max-width: 848px) {
  .hero-text {
      width: 100%;
      padding: 30px;
  }

  .hero-text h1 {
      font-size: 2rem;
  }

  .hero-text p {
      font-size: 1.2rem;
      margin-bottom: 20px;
  }

  .btn a {
      padding: 10px 30px;
  }
}


.section2 {
  line-height: 2.5;
  position: relative;
  padding-bottom: 100px; /* Adjust as needed */
}

.column:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #023246;
  transform: rotate(45deg);
  left: -180px;
  bottom: 80px;
  opacity: 10%; 
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  width: 45%;
  padding: 20px;
  display: flex;
  align-items: center; 
}

.column p {
  margin-left: 20px; 
  font-size: 18px;
}

.icon {
  width: 80px;
  height: auto;
  margin-right: 20px; 
}

.section2 h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #023246;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section2 p {
  text-align: left;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center; 
}

/* Adjustments for mobile responsiveness */
@media screen and (max-width: 768px) {
  .row {
      flex-direction: column;
      align-items: center;
  }
  .column {
      width: 90%;
      margin-bottom: 20px;
  }
}



.section3{
    width:100%;
    height:800px;
    background-color:#033b53;
    align-content: center;
 padding: 0;
 margin: 0;
 display: flex;
   justify-content: center;
   align-items: center;
}




.section3 h1{
    font-size: 2.2rem;
    margin-top:10px;
    margin-bottom:20px ;
    color:#d4d4ce;
    text-align:left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2.0;
    margin-left: 90px;
  
}
/*images in slide*/
.slider{
    width:800px;
    height:500px;
    border-radius: 10px;
  overflow:hidden;
  margin-left: 100px;

}
.slides{
    
    width:500%;
    height:500px;
    display:flex;
    align-content: center;
    position:relative;
    
   
}
.slides input{
    display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width:750px;
    height:500px;
    border-radius: 50px;
}
/* code for manual nav*/
.manualnav{

    position: absolute;
    width:auto;
    margin-top: -40px;
    display: flex;
    justify-content: center;
   margin-top: 400px;
   margin-left: 400px;

}
.manual{
    border:2px solid #e0e9ed;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    justify-content: center;
    
}
.manualnav label{
    border: 3px solid #d4d4ce;
    padding: 4px;
    border-radius:10px;
    cursor:pointer;
    transition:1s ;
   display: flex;
}
.manual:not(last-child){
    margin-right: 40px;
}
.manual:hover{
    background:#287094;
}
#r1:checked ~ .first{
    margin-left: 0;
}
#r2:checked ~ .first{
    margin-left: -20%
;
}
#r3:checked ~ .first{
    margin-left: -40%;
}
#r4:checked ~ .first{
    margin-left: -60%;
}
/*image slider*/
.slider h3{
    text-align: left;
    align-items:center;
   

}
.slider .slides .info{
    position: absolute;
    top:0;
    padding:15px 10px;
}
.slider .slides .info h3{
    color: #d4d4ce;
    text-align: center;
}
.slider .slides .info h2{
    color:#010506;
    background: rgba(239, 245, 247, 0.3);
     font-size: 25px;
    font-weight:bold ;
    letter-spacing:2px ;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}


.slider .slides .info p{
   color: #e0e9ed; 
   background:rgba(0, 0, 0, 0.5) ;
   font-size:15px;
   width: 60%;
   padding:50px ;
   border-radius:4px ;
   text-align:center;
   font-weight: bold;
   margin-top: 100px;
   margin-left: 100px;
   font-family:Georgia, 'Times New Roman', Times, serif;

}
/* Testimonials section*/
.section__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  color: #287094;
}

.header h1 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 900;
  color: #033b53;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: #010506;
  color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.card:nth-child(1):after,
.card:nth-child(2):after,
.card:nth-child(3):after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  transform: rotate(45deg);
  left: -180px;
  bottom: 80px;
  opacity: 0.3; /* Adjust opacity as needed */
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.card svg {
  color: #287094;
  justify-self: center;
}

.card p {
  font-size: 1rem;
  font-weight: 400;

}

.card hr {
  width: 50px;
  margin: auto;
  border: 1px solid #287094;
}

.card img {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #287094;
}

.card .name {
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  background-color: #287094;
  color: #f5f5f5;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  top: 300px;
  z-index: 1;
}

.spline-background {
  margin-top: -200px;
  margin-left: -100px;
  width: 112%;      
  max-width: 200vw; 
  height: auto;     
  overflow-x: hidden; 
}


.footer:after{
position:absolute;
content: "";
width: 300px;
height: 300px;
background-color: antiquewhite;
transform: rotate(45deg);
left: 400px;
bottom: 80px;
opacity: 30%;
border-radius: 30px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);

}


.footer h4 {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: black;
}

.footer p {
  max-width: 450px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #f5f5f5;
}

.footer button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #287094;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  z-index: 10;
}

.footer button:hover {
  background: #033b53;
  color: #f5f5f5;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 183, 255, 0.7) 0%, rgba(0, 122, 204, 0.7) 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  z-index: -1;
}



@media (max-width: 900px) {
  .testimonials__grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .testimonials__grid {
      grid-template-columns: 1fr;
  }
}

  

  
