


body, html {
    background-color: #f0f0f5;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signin{
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.1 );
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.form{
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.form::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(134, 132, 138);
    transform: rotate(45deg);
    left: -180px;
    bottom: 80px;
    opacity: 30%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
  
.form label{
    color: #333433;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form h1{
    color: #8e928e;
}

.form .emailsvg{
    position: relative;
    top: 2.3rem; 
    left: 1rem;
}
.form .passwordsvg{
    position: relative;
    top: 6.5rem; 
    left: 1rem;
}

.form input{
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 1.1rem;
    padding-left: 40px; 
}

.form input:focus {
    outline: none;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-btn{
    margin-top: 1rem;
    background-image: linear-gradient(130deg,#005582,#5B42F3 50%,#AF40FF);
    border: 0;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.bg-image{
    background-color: #005582;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.1);
    
}
.bg-image img{
    border-radius: 20% 0% 30% 0%;
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.1);
    
}

@media screen and (max-width: 800px) {
    .signin {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }

    .form {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .bg-image {
        width: 80%;
        height: 300px;
    }

    .bg-image img {
        border-radius: 10px;
    }

  
}

